//Delete following style when you start your project

.welcome-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    max-width: 150px;
    width: 100%;
    height: auto;
  }
}
