<!-- Delete following code when you start your project -->

<div class="welcome-wrapper">
  <img src="assets/images/eryce.png" alt="Eryce logo">
  <h1>Welcome to ERYCE frontend test</h1>
  <p>Please follow instructions given in documentation in order to properly complete your task.</p>
  <p>Best of luck and have fun!</p>
</div>
